In [18]:
# Import MySQL Connector/Python 
import mysql.connector as connector
connection=connector.connect(username = "root", password = "little_lemon")

In [19]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

Cursor is created to communicate with the MySQL using Python.

In [20]:
# Set little_lemon database for use 
cursor.execute("USE littlelemondb")
print("The database little_lemon is set for use.")

The database little_lemon is set for use.

In [21]:
# Show all the tables in the databases
show_tables_query = "SHOW TABLES;"
cursor.execute(show_tables_query);
results = cursor.fetchall();
print(results);

[('bookings',), ('customer',), ('customwerswithordersgreaterthan150',), ('menu',), ('menuitems',), ('menuswithmorethan2',), ('odersview',), ('orderdeliverystatus',), ('orders',), ('staff',)]

In [23]:
customer_query = """   SELECT CustomerName as FullName,
                	   ContactNumber,
                       TotalCost
                FROM Orders O
                JOIN Customer C on O.CustomerID = C.CustomerID
                WHERE TotalCost > 60   """
cursor.execute(customer_query)
results = cursor.fetchall()

print("The following Customers have orders that exceed $60") 
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

The following Customers have orders that exceed $60
('FullName', 'ContactNumber', 'TotalCost')
('Sarah Marshall', '414-230-2220', Decimal('67'))
('Rain Mann', '800-230-2345', Decimal('194'))